.boton {
    text-decoration: none;
    color: $blanco;
    background-color: $secundario;
    padding: 5px 25px;
    border-style: solid;
    border-radius: 10px;
    border-color: $blanco;
    margin: 15px;
    font-size: 19px;
    

    &:hover {
        background-color: $azul-logo;
        color: #F2F5F7;
        border-color: $azul-logo ;
        
    }

}